body {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
    font-size: 14px;
/*    font-weight: bold;*/
    color: #E64F96;
}

#info {
    margin: 50px auto;
    width: 700px;
    height: 550px;
    background: url(images/back.png) no-repeat 0 0;
}

.login {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.alert {
    color: #222222;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.info-left {
    margin-left: 100px;
}

button {
    border-style: none;
    background-color: #e64f96;
    color: #fff;
    font-weight: bold;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    margin-left: 50px;
}

#start {
    color: #BED610;
    text-align: center;
    cursor: pointer;
}

#start p {
    margin-top: -3px;
}

.title {
    text-align: center;
    font-size: 20px;
    color: #222222;
    width: 100px;
}

#qArea {
    overflow: hidden;
    width: 700px;
    height: 500px;
    background: url(images/back.png) no-repeat 0 0;
    margin: 10px auto;
}

#qContainer {
    margin: 115px 0px 0px 50px;
    width: 5100px;
    position: relative;
}

.qBox {
    width: 600px;
    margin: 0px 50px 0px 0px;
    height: 350px;
    float: left;
}

.ques {
    padding: 35px 0px 0px 25px;
    width: 575px;
    height: 45px;
    _width: 600px;
    _height: 80px;
    background: url(images/quesArea.png) no-repeat 0 0;
}

.qNum {
    color: #3366FF;
}

.fig {
    width: 240px;
    height: 260px;
    margin: 0px 4px 0px 0px;
    float: right;
}

#info h2 {
    color: #222222;
}

ul {
    list-style: none;
    margin: 0px 0px 0px 2px;
    padding: 0px;
    float: left;
}

ul li {
    padding: 17px 0px 0px 60px;
    background: url(images/checkButton.png) no-repeat 0 0;
    width: 290px;
    height: 33px;
    _width: 350px;
    _height: 50px;
    cursor: pointer;
    color: #333;
}

ul li:hover {
    background-position: 0px -50px;
}

ul li.selected {
    background-position: 0px -100px;
    cursor: default;
}

#resultBox {
    width: 600px;
    margin: 0px 0px 0px 0px;
    height: 350px;
    background: url(images/resultBase.png) no-repeat 0 0;
}

#resultTitle {
    margin: 44px 0px 0px 20px;
    width: 400px;
    float: left;
    font-size: 18px;
    height: 18px;
    margin-top: 30px;
}

#resultPoint {
    margin: 22px 40px 0px 0px;
    float: right;
    color: #F00;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    text-align: right;
}

#resultLeft {
    float: left;
    margin: 20px 0px 0px 20px;
}

#resultText {
    width: 270px;
    font-size: 12px;
    line-height: 1.7;
    color: #666;
    margin-right: 10px;
}

.resultRight {
    margin-top: 20px;
}

#resultImage {
    width: 252px;
    height: 217px;
    float: right;
    margin: 15px 20px 0px 0px;
    background: url(images/lv4.png) no-repeat 0 0;
}

#againButton {
    margin: 0px 0px 0px 52px;
    width: 186px;
    height: 40px;
    background: url(images/againButton.jpg) no-repeat 0 0;
    cursor: pointer;
}

#againButton:hover {
    background-position: 0px -40px;
}